.content {
    .main-content {
        h2 {
            font-size: 20px;
            line-height: 24px;

            img {
                vertical-align: bottom;
            }
        }

        p {
            img {
                display: inline-block;
                vertical-align: bottom;
            }
        }

        .card-btn-container {
            display: inline-block;
            width: 100%;
            text-align: center;

            .btn {
                color: #fff;
            }
        }

        .magazine-image {
            width: 100%;
        }
    }

    .hidden-mobile {
        table {
            margin-bottom: 30px;
        }
    }

    .articles {
        .headline {
            table {
                width: 480px;

                h3 {
                    font-family: Roboto, Arial, sans-serif;
                    font-size: 20px;
                    line-height: 24px;
                    margin-bottom: 30px
                }
            }
        }

        .single-article {
            >td>table {
                margin-bottom: 20px;
            }

            table {
                tr {
                    border: 2px solid #E5E5E5;
                    height: auto;

                    img {
                        display: block;
                        width: 100%;
                    }

                    td {
                        &.pl-20 {
                            padding-top: 10px;
                            padding-right: 20px;
                        }

                        h3 {
                            line-height: 16px;
                            font-family: Roboto, Arial, sans-serif;
                            font-size: 14px;
                            font-weight: bold;
                            margin: 0 0 5px 0 !important;
                            padding: 0;
                        }

                        .bold {
                            font-family: Roboto, Arial, sans-serif;
                            font-size: 13px;
                            font-weight: bold;
                            color: #000000;
                        }

                        p {
                            font-family: Roboto, Arial, sans-serif;
                            font-size: 12px;
                            margin: 0 !important;
                            padding: 0 !important;

                            a {
                                color: #5B7BD9;
                                font-weight: bold;
                                text-decoration: underline;
                            }
                        }

                        table {
                            tr {
                                border: 0;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}